<div class="pension-calculator-page base-map-bg">
	<!-- 表单 -->
	<div class="form-container mg-c-lrauto">
		<div class="tabs">
			<div class="tabs-items active">
				<div class="tabs-items-icon">
					<img src="~@/assets/images/pension-calculator/man-00.png">
				</div>
				<div class="tabs-items-text">
					<span class="text">男</span>
				</div>
			</div>
			<div class="tabs-items">
				<div class="tabs-items-icon">
					<img src="~@/assets/images/pension-calculator/female-00.png">
				</div>
				<div class="tabs-items-text">
					<span class="text">女</span>
				</div>
			</div>
		</div>
		<!-- 表单 -->
		<div class="form">
			<div class="form-items mg-c-tb15 mg-c-lr15 form-items-jc-sb">
				<div class="form-items-col">
					<div class="form-items-label"><span>出生月份</span></div>
					<div class="form-items-body">
						<div class="form-items-input">
							<input type="text" readonly placeholder="ni">
							<div class="select">
								<van-icon name="arrow-down" color="#C0C0C0"/>
							</div>
						</div>
					</div>
				</div>
				<div class="form-items-col">
					<div class="form-items-label">
						<span>参加工作年份</span>
						<van-icon @click="hanldeOpenDialog(0)" name="question" color="#B0B0B0" class="icon"/>	
					</div>
					<div class="form-items-body">
						<div class="form-items-input">
							<input type="text" readonly placeholder="ni">
							<div class="select">
								<van-icon name="arrow-down" color="#C0C0C0"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-items mg-c-lr15 form-items-jc-sb">
				<div class="form-items-col">
					<div class="form-items-label"><span>当前月工资 (元)</span></div>
					<div class="form-items-body">
						<div class="form-items-input">
							<input type="text" placeholder="1000≦金额≦1000000">
						</div>
					</div>
				</div>
				<div class="form-items-col">
					<div class="form-items-label"><span>所在省 (直辖市)</span></div>
					<div class="form-items-body">
						<div class="form-items-input" @click="hanldeOpenCityPicker">
							<input type="text" readonly placeholder="ni">
							<div class="select">
								<van-icon name="arrow-down" color="#C0C0C0"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-items mg-c-tb15 form-items-jc-cr">
				<van-button
					color="linear-gradient(180deg, #FFE2AF 0%, #FF9849 100%)"
					class="form-submit"
					>
					<span class="btn-text">开始计算</span>
				</van-button>
			</div>
			<div class="form-items mg-c-b15">
				<div class="form-items-rules">
					<span class="text" @click="hanldeOpenDialog(1)">规则详情</span>
				</div>
			</div>
		</div>
	</div>
	<!-- 推荐 -->
	<div class="recommend-container mg-c-lrauto">
		<div class="recommend-items">
			<img src="~@/assets/images/pension-calculator/banner.png">
		</div>
	</div>
	<VDialog
		:isShow="isShow"
		:title="dialogTitle"
		@cancel="hanldeDialogCancel"
		:text="dialogText"/>
	<!-- 城市 -->
	<VPicker
		:isShow="isCityPicker"
		:columns="columns"
		title="请选择所在省"
		@cancel="hanldeCityPickerCancel"
		@confirm="hanldeCityPickerConfirm"
		/>
</div>