<div class="pension-rule-page base-map-bg">
	<div class="wh-c-690 mg-c-lrauto pension-container">
		<div class="expansion">
			<div class="expansion-head">
				<div class="title">距离您的理想生活还差 :</div>
				<div class="money">{{ queryData.jllxshhc }}万</div>
			</div>
			<div class="expansion-slider">
				<div class="slider-head">您的养老理财产品希望每年可以获得：</div>
				<div class="slider-body"></div>
			</div>
			<div class="expansion-select">
				<div class="head">按以上收益率，理财规划建议如下：</div>
				<div class="select">
					<div class="select-left  ">
						<div class="select-title">首笔投资</div>
						<div class="select-content" @click="hanldeOpenPicker">
							<span>12万</span>
							<van-icon class="text-icon" name="arrow-down" color="#FB3F3F"/>
						</div>
					</div>
					<div class="select-center ">
						<div class="add">
							<img src="~@/assets/images/pension-rule/add.png" alt="">
						</div>
					</div>
					<div class="select-right ">
						<div class="select-title">每月定投</div>
						<div class="select-content">
							<span>{{ queryData.mydt }}万</span>
						</div>
					</div>
				</div>
			</div>
			<div class="expansion-desc">
				<div class="title">
					<span class="text">
						持续投资 <span class="money">31</span> 年，本金加收益率约 : <span class="money">549.63万</span>
					</span>
				</div>
				<div class="desc">
					<span>本方案根据您预设的收益率进行估算 , 以帮助您指定养老投资计划。您可自行决定是否养老投资 , 坚持定投 , 更有希望达成投资目标。本方案仅供参考，不代表您未来真实投资收益情况 , 市场有风险，投资需谨慎。</span>
				</div>
			</div>
		</div>
		<div class="btn-box">
			<van-button
					color="linear-gradient(0deg, #F88303, #FEBB4C)"
					class="btn"
					>
					<span class="btn-text">立即购买</span>
				</van-button>
		</div>
		<!-- 推荐 -->
		<div class="recommend-container">
			<div class="recommend-items">
				<img src="~@/assets/images/pension-calculator/banner.png">
			</div>
		</div>
	</div>
	<!-- 选择 -->
	<VPicker
		:isShow="isPicker"
		:columns="pickerColnums"
		title="请选择首笔投资"
		@cancel="hanldePickerCancel"
		@confirm="hanldePickerConfirm"
		/>
</div>