<div class="info-page-container">
	<!-- 切换 -->
	<!-- 机构信息 -->
	<div class="ins-information-container">
		<!-- 机构学员数 -->
		<div class="ins-so-box">
			<div class="ins-student-box">
				<div class="student-head pd-l pd-r">瑞尔美语教育培训学校有限公司</div>
				<div class="student-body pd-l pd-r">
					<div class="c">
						<div class="text">年份: 2020年</div>
						<div class="text-dir"></div>
						<div class="text">地区: 金水区</div>
						<div class="text-dir"></div>
						<div class="text">部门: 服务运营组</div>
					</div>
					<div class="text">机构ID 1238900</div>
				</div>
				<div class="student-footer layout-w-mg">
					<div class="ins-st-ct-box">
						<!-- 标题 -->
						<ins-info-title></ins-info-title>
						<!-- 机构学员数 -->
						<div class="st-ct-body pd-l-1 pd-r-1">
							<div class="items">
								<div class="num">50</div>
								<div class="text">小学</div>
							</div>
							<div class="items">
								<div class="num">50</div>
								<div class="text">小学</div>
							</div>
							<div class="items">
								<div class="num">50</div>
								<div class="text">小学</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 综合运营数据 -->
		<div class="ins-operation-box layout-w-mg layout-bg-r">
			<!-- 标题 -->
			<ins-info-title title="综合运营数据"></ins-info-title>
			<!-- 内容 -->
			<div class="operation-body pd-l-1 pd-r-1">
				<div class="items mr-b">
					<div class="box-item">
						<div class="title">最大销量</div>
						<div class="box">
						 <span class="num">8,900</span>
						 <span class="dir">套</span>
						</div>
					</div>
					<div class="box-item">
						<div class="title">师训次数</div>
						<div class="box">
						 <span class="num">8,900</span>
						 <span class="dir gray">次</span>
						</div>
					</div>
					<div class="box-item">
						<div class="title">扩科数</div>
						<div class="box">
						 <span class="num">8,900</span>
						 <span class="dir gray">科</span>
						</div>
					</div>
				</div>
				<div class="items">
					<div class="box-item">
						<div class="title">LTM成长率</div>
						<div class="box">
						 <span class="num">8,900</span>
						 <span class="dir">套</span>
						</div>
					</div>
					<div class="box-item">
						<div class="title">CAGR成长率</div>
						<div class="box">
						 <span class="num">8,900</span>
						 <span class="dir">%</span>
						</div>
					</div>
					<div class="box-item">
						<div class="title">未上课</div>
						<div class="box">
						 <span class="num">8,900</span>
						 <span class="dir gray">个月</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 销量数据 -->
		<div class="ins-sales-box layout-w-mg layout-bg-r">
			<!-- 标题 -->
			<ins-info-title title="综合运营数据"></ins-info-title>
		</div>
		<!-- 教学服务数据 -->
		<div class="ins-service-box layout-w-mg layout-bg-r">
			<!-- 标题 -->
			<ins-info-title title="综合运营数据"></ins-info-title>
			<div class="pd-l-1 pd-r-1">
				<div class="service-body">
					<div class="info-box">
						<div class="info-item br-r">
							<div class="title">备授课时长</div>
							<div class="text">
								<span class="num">130</span>
								<span class="dir">h</span>
							</div>
						</div>
						<div class="info-item">
							<div class="title">提交率</div>
							<div class="text">
								<span class="num">130</span>
								<span class="dir">%</span>
							</div>
						</div>
						<div class="info-item">
							<div class="title">在班率</div>
							<div class="text">
								<span class="num">50</span>
								<span class="dir">%</span>
							</div>
						</div>
						<div class="info-item">
							<div class="title">观看率</div>
							<div class="text">
								<span class="num">75</span>
								<span class="dir">%</span>
							</div>
						</div>
					</div>
				</div>
				<div class="service-footer">
					<div class=""></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 销量 -->
	<div></div>
	<!-- 诊断 -->
	<div></div>
</div>